<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2MziAj7JfoMUbqdLamzYpi_edBWsMMwI</string>
	<key>GCM_SENDER_ID</key>
	<string>468235560766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.its.BarkhanaDeliveryBoy</string>
	<key>PROJECT_ID</key>
	<string>barkhanadeliveryboy</string>
	<key>STORAGE_BUCKET</key>
	<string>barkhanadeliveryboy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468235560766:ios:d682a8e840688f09676e6f</string>
</dict>
</plist>